<form action='/admin/photo-gallery' method='post' enctype='multipart/form-data'>
  <label for='filename'>Photo to Upload</label>
  <input type='file' name='new_file' /><br />
  <input type='submit' value='Upload!' />
</form>
