<form action="/admin/hours" method="POST">
    <select name="day">
      <option value="Monday">Monday</option>
      <option value="Tuesday">Tuesday</option>
      <option value="Wednesday">Wednesday</option>
      <option value="Thursday">Thursday</option>
      <option value="Friday">Friday</option>
      <option value="Saturday">Saturday</option>
      <option value="Sunday">Sunday</option>
    </select>
    <select name="opens_at">
      <% 24.times do |t|%>
        <option value="<%= t %>"><%= t %></option>
      <% end %>
    </select>
    <select name="closes_at">
      <% 24.times do |t|%>
        <option value="<%= t %>"><%= t %></option>
      <% end %>
    </select>
    <input type="submit" value="Update Hours"/>
  </form>
