<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>collection | Clyfford Still Museum</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="shortcut icon" href="/sites/default/files/zen_csm_favicon.ico" type="image/x-icon" />

  <link type="text/css" rel="stylesheet" media="all" href="/css/regular_styles.css" />
<link type="text/css" rel="stylesheet" media="print" href="/css/print_styles.css" />

  <script type="text/javascript" src="/sites/default/files/js/js_d1a491a78def12d6718b9a7d22b2d393.js"></script>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
jQuery.extend(Drupal.settings, { "basePath": "/", "colorbox": { "transition": "elastic", "speed": 350, "opacity": "0.85", "slideshow": false, "slideshowAuto": false, "slideshowSpeed": 2500, "slideshowStart": "", "slideshowStop": "", "current": "{current} of {total}", "previous": "« Prev", "next": "Next »", "close": "Close", "overlayClose": true, "maxWidth": "100%", "maxHeight": "100%" }, "cron": { "basePath": "/poormanscron", "runNext": 1383022658 }, "viewsSlideshowSingleFrame": { "#views_slideshow_singleframe_main_header_photos-block_1": { "num_divs": 2, "id_prefix": "#views_slideshow_singleframe_main_", "div_prefix": "#views_slideshow_singleframe_div_", "vss_id": "header_photos-block_1", "timeout": "5000", "sort": 1, "effect": "fade", "speed": "700", "start_paused": 0, "delay": "0", "fixed_height": "1", "random": "0", "pause": "1", "pause_on_click": "0", "pause_when_hidden": 0, "pause_when_hidden_type": "full", "amount_allowed_visible": "", "remember_slide": 0, "remember_slide_days": "1", "controls": "0", "items_per_slide": "1", "pager": "2", "pager_type": "Thumbnails", "pager_hover": "2", "pager_click_to_page": 0, "image_count": "0", "nowrap": "0", "sync": "1", "advanced": "", "ie": { "cleartype": "true", "cleartypenobg": "false" } } } });
//--><!]]>
</script>
</head>
<body class="page not-front not-logged-in node-type-page page-museum section-museum one-sidebar sidebar-first">


  <div id="page-wrapper"><div id="page">

    <div id="header"><div class="section clearfix">
        <a href="/" title="Home" rel="home" id="logo"><img src="/images/header.gif" alt="Home" /></a>
    <a href="/" title="Home" rel="home"><span></span></a>
    <div class="region region-header">
  <div id="block-views-header_photos-block_1" class="block block-views first last region-odd odd region-count-1 count-1">
  
  <div class="content">
    <div class="views_view view view-header-photos view-id-header_photos view-display-id-block_1 view-dom-id-1">
  
  
  
  
      <div class="view-content">
      


<div id="views_slideshow_singleframe_main_header_photos-block_1" class="views_slideshow_singleframe_main views_slideshow_main"><div id="views_slideshow_singleframe_teaser_section_header_photos-block_1" class="views_slideshow_singleframe_teaser_section"><div class="views_slideshow_singleframe_slide views_slideshow_slide views-row-1 views-row-odd" id="views_slideshow_singleframe_div_header_photos-block_1_0"><div class="views-row views-row-0 views-row-first views-row-odd">
  
  <div class="views-field-field-page-header-photo-fid">
                <span class="field-content"><img  class="imagefield imagefield-field_page_header_photo" width="772" height="235" alt="" src="https://www.clyffordstillmuseum.org/sites/default/files/images-page/West%20Sunrise%20Exterior.jpg?1351539750" /></span>
  </div>

</div>
</div>
<div class="views_slideshow_singleframe_slide views_slideshow_slide views-row-2 views_slideshow_singleframe_hidden views-row-even" id="views_slideshow_singleframe_div_header_photos-block_1_1"><div class="views-row views-row-0 views-row-first views-row-odd">
  
  <div class="views-field-field-page-header-photo-fid">
                <span class="field-content"><img  class="imagefield imagefield-field_page_header_photo" width="772" height="235" alt="" src="https://www.clyffordstillmuseum.org/sites/default/files/images-page/_MG_8581_FINAL.jpg?1351539750" /></span>
  </div>

</div>
</div>
</div>
</div>
  <div class="views-slideshow-controls-bottom clear-block">
        <div class="views_slideshow_singleframe_pager views_slideshow_pagerThumbnails" id="views_slideshow_singleframe_pager_header_photos-block_1"></div>      </div>
    </div>
  
  
  
  
  
  
</div><!-- /.view -->
  </div>

  </div><!-- /.block -->
</div><!-- /.region -->
  </div></div><!-- /.section, /#header -->
   




    <div id="main-wrapper" ><div id="main" class="clearfix">
          <div id="content" class="column">
      <div class="section">
        
                  <h1 class="title">collection</h1>
                                
        

        <div id="content-area">
          <div id="node-201" class="node node-type-page build-mode-full clearfix">


<div class="content">
    <p>In the early <span data-scayt_word="1950s" data-scaytid="4">1950s</span>, <span data-scayt_word="Clyfford" data-scaytid="5">Clyfford</span> Still ended his relationship with the prestigious Betty Parsons and Sidney Janis galleries in New York, and from that time forward, represented himself. Very few paintings entered the art market and subsequently the museum will house over 94% of the artist&rsquo;s total output. The <span data-scayt_word="Clyfford" data-scaytid="6">Clyfford</span> Still Estate contains approximately 825 paintings and 1575 works on paper including: 100 paintings dating from 1920 - 1943: Still&#39;s student years, Depression-era works, Surrealist-inspired works, and first forays into abstraction. 350 paintings dating from 1944 - 1960: Still&#39;s &quot;breakthrough period&quot; and the years of &quot;high&quot; Abstract Expressionism. Many canvases span over ten-by-fourteen feet. 375 paintings dating from 1961 - 1979: later works, most of which have never been exhibited. 1575 works on paper spanning all aspects of Still&#39;s career in such media as pastel, crayon, charcoal, gouache, tempera, graphite, and pen and ink. Few of these have ever been exhibited. In addition to the artworks, the museum is also home to the artist&rsquo;s archives of letters, sketchbooks, manuscripts, photo albums and personal effects, most of which has never been seen by the public. The Still Museum&rsquo;s rotating exhibition program, drawn exclusively from the museum&rsquo;s extensive collection, illuminates this important period of American art history. The Still Museum also plans to work with the Denver Art Museum and neighboring institutions in the development of joint programming that will further contextualize and complement the collection.</p>
<script type="text/javascript">

<div><object style="width:420px;height:210px" >
var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-29830735-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</object></div></script><div class="field field-type-filefield field-field-page-header-photo">
      <div class="field-label">Header Photo:&nbsp;</div>
    <div class="field-items">
            <div class="field-item odd">
                    <img  class="imagefield imagefield-field_page_header_photo" width="772" height="235" alt="" src="https://www.clyffordstillmuseum.org/sites/default/files/images-page/West%20Sunrise%20Exterior.jpg?1351539750" />        </div>
              <div class="field-item even">
                    <img  class="imagefield imagefield-field_page_header_photo" width="772" height="235" alt="" src="https://www.clyffordstillmuseum.org/sites/default/files/images-page/_MG_8581_FINAL.jpg?1351539750" />        </div>
        </div>
</div>
  </div>

  </div><!-- /.node -->
        </div>

        

      </div>
        <div id="content-bottom" class="clearfix">
                  </div>
      </div><!-- /.section, /#content -->



      <div class="region region-sidebar-first column sidebar"><div class="section">
  <div id="block-menu-primary-links" class="block block-menu first region-odd even region-count-1 count-2">
  
  <div class="content">
    <ul class="menu"><li class="expanded first"><a href="/visit-us" title="VISIT US">VISIT US</a><ul class="menu"><li class="leaf first"><a href="/visit-us/tickets-admission-hours" title="TICKETS, ADMISSION &amp; HOURS">tickets, admission &amp; hours</a></li>
<li class="leaf"><a href="/visit-us/directions" title="DIRECTIONS">directions</a></li>
</ul></li>
<li class="expanded active-trail"><a href="/museum" title="" class="active">MUSEUM</a><ul class="menu"><li class="leaf first"><a href="/museum" title="about the museum">about the museum</a></li>
<li class="leaf"><a href="/museum/about-building" title="about the museum">about the building</a></li>
<li class="collapsed last active-trail"><a href="/collection" title="about the collection" class="active">about the collection</a></li>
</ul></li>
<li class="leaf"><a href="/clyfford-still" title="CLYFFORD STILL">CLYFFORD STILL</a></li>
<li class="collapsed"><a href="/programs-and-events" title="">PROGRAMS &amp; EVENTS</a></li>
<li class="leaf last"><a href="/gallery/5" title="">PHOTO GALLERY</a></li>
</ul>  </div>

  </div><!-- /.block -->
<div id="block-views-gallery-block_1" class="block block-views region-even odd region-count-2 count-3">
      <h2 class="title">Museum Photos</h2>
  
  <div class="content">
    <div class="views_view view view-gallery view-id-gallery view-display-id-block_1 view-dom-id-3">
  
  
  
  
      <div class="view-content">
          <div class="views-row first odd">
      
      <div>
  
    
      <a href="https://www.clyffordstillmuseum.org/sites/default/files/images-photo/museum_01_0.jpg" title="North Entrance - The 28,500 square foot museum is envisioned as a dense, cantilevered, two-story structure, unified through the use of a single building material - a highly textured and resurfaced concrete, designed to modify light on both the interior and exterior of the museum. The museum emerges through the leaves and branches of a grove of trees. Daylight is diffused and refracted over the textured concrete surface of the exterior." class="colorbox imagefield imagefield-imagelink imagefield-field_photo_graphic" rel="gallery-22"><img src="https://www.clyffordstillmuseum.org/sites/default/files/imagecache/thumbnail/images-photo/museum_01_0.jpg" alt="" title="North Entrance - The 28,500 square foot museum is envisioned as a dense, cantilevered, two-story structure, unified through the use of a single building material - a highly textured and resurfaced concrete, designed to modify light on both the interior and exterior of the museum. The museum emerges through the leaves and branches of a grove of trees. Daylight is diffused and refracted over the textured concrete surface of the exterior."  class="imagecache imagecache-thumbnail" width="45" height="45" /></a>
      </div>
  
    </div>
      <div class="views-row even">
      
      <div>
  
    
      <a href="https://www.clyffordstillmuseum.org/sites/default/files/images-photo/museum_02.jpg" title="Reception Area - The low-hanging cantilevered second story shades the entry into the reception area. The first floor material is a crushed and polished cement, with wood paneling and detailing throughout." class="colorbox imagefield imagefield-imagelink imagefield-field_photo_graphic" rel="gallery-23"><img src="https://www.clyffordstillmuseum.org/sites/default/files/imagecache/thumbnail/images-photo/museum_02.jpg" alt="" title="Reception Area - The low-hanging cantilevered second story shades the entry into the reception area. The first floor material is a crushed and polished cement, with wood paneling and detailing throughout."  class="imagecache imagecache-thumbnail" width="45" height="45" /></a>
      </div>
  
    </div>
      <div class="views-row odd">
      
      <div>
  
    
      <a href="https://www.clyffordstillmuseum.org/sites/default/files/images-photo/museum_03.jpg" title="Corner Gallery Level - A combination of minimally textured board-formed concrete walls (in contrast to the exterior of the building) and plaster walls will comprise the art hanging surfaces in the second floor galleries." class="colorbox imagefield imagefield-imagelink imagefield-field_photo_graphic" rel="gallery-24"><img src="https://www.clyffordstillmuseum.org/sites/default/files/imagecache/thumbnail/images-photo/museum_03.jpg" alt="" title="Corner Gallery Level - A combination of minimally textured board-formed concrete walls (in contrast to the exterior of the building) and plaster walls will comprise the art hanging surfaces in the second floor galleries."  class="imagecache imagecache-thumbnail" width="45" height="45" /></a>
      </div>
  
    </div>
      <div class="views-row even">
      
      
  
    
      <a href="https://www.clyffordstillmuseum.org/sites/default/files/images-photo/museum_04.jpg" title="Center Gallery Level - A day lighting system that includes diffusing skylights and motorized shades is situated above a custom-formed, concrete tracery ceiling that almost disappears in the scattered light." class="colorbox imagefield imagefield-imagelink imagefield-field_photo_graphic" rel="gallery-25"><img src="https://www.clyffordstillmuseum.org/sites/default/files/imagecache/thumbnail/images-photo/museum_04.jpg" alt="" title="Center Gallery Level - A day lighting system that includes diffusing skylights and motorized shades is situated above a custom-formed, concrete tracery ceiling that almost disappears in the scattered light."  class="imagecache imagecache-thumbnail" width="45" height="45" /></a>
      </div>
  
   
      <div class="views-row last odd">
      
     
  
    
      <a href="https://www.clyffordstillmuseum.org/sites/default/files/images-photo/_MG_8631_working_flattened_FINAL-2.jpg" title="Clyfford Still Museum at dusk, August, 2011. Image by Jeremy Bittermann." class="colorbox imagefield imagefield-imagelink imagefield-field_photo_graphic" rel="gallery-202"><img src="https://www.clyffordstillmuseum.org/sites/default/files/imagecache/thumbnail/images-photo/_MG_8631_working_flattened_FINAL-2.jpg" alt="" title="Clyfford Still Museum at dusk, August, 2011. Image by Jeremy Bittermann."  class="imagecache imagecache-thumbnail" width="45" height="45" /></a>
      </div>
  
    </div>
     
  
  
  
  
      <div class="view-footer">
      <p><a href="/gallery/4" class="btn1">VIEW ALL</a></p>
    </div>
  
  
</div><!-- /.view -->
  </div>

  </div><!-- /.block -->
<div id="block-menu-secondary-links" class="block block-menu region-odd even region-count-3 count-4">
  
  <div class="content">
    <ul class="menu"><li class="leaf first"><a href="/contact-us" title="CONTACT US">CONTACT US</a></li>

</ul>  </div>

  </div><!-- /.block -->
<div id="block-block-2" class="block block-block last region-even odd region-count-4 count-5">
  
  <div class="content">
    <p><a href="http://www.facebook.com/pages/Denver-CO/Clyfford-Still-Museum/295120003223?ref=ts"><img alt="Clyfford Still Museum on Facebook" src="/images/facebook.png" style="width: 24px; height: 24px; " /></a>&nbsp;<a href="http://twitter.com/#!/Still_Museum"><img alt="Clyfford Still Museum on Twitter" src="/images/twitter.png" style="width: 24px; height: 24px; " /></a>&nbsp;<a href="http://www.flickr.com/people/clyffordstillmuseum/"><img alt="Clyfford Still Museum on Flickr" src="/images/flickr.png" style="width: 24px; height: 24px; " /></a></p>
  </div>

  </div><!-- /.block -->
</div></div><!-- /.section, /.region -->

      
    </div></div><!-- /#main, /#main-wrapper -->

          <div id="footer"><div class="section">

       
        
        <div class="region region-footer">
  <div id="block-block-1" class="block block-block first region-odd even region-count-1 count-6">
  
  <div class="content">
    <p><a href="http://www.scfd.org"><img alt="SCFD" src="/images/SCFD-logo.png" style="width: 54px; height: 84px; " /></a></p>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-29830735-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>  </div>

  </div><!-- /.block -->
<div id="block-block-10" class="block block-block last region-even odd region-count-2 count-7">
  
  <div class="content">
    <div><strong><span data-scayt_word="CLYFFORD" data-scaytid="7">CLYFFORD</span> STILL MUSEUM</strong>
<div>1250 <span data-scayt_word="Bannock" data-scaytid="8">Bannock</span> Street</div>
<div>Denver, CO 80204</div>
</div>
<div><span data-scayt_word="tel" data-scaytid="9">tel</span> 720-354-4880<br />
  <a href="mailto:%E2%80%A8info@clyffordstillmuseum.org">info@clyffordstillmuseum.org</a></div>
  </div>

  </div><!-- /.block -->
</div><!-- /.region -->
          <div class="copyright">&#169; Copyright 2013. Clyfford Still Museum<br />
            gSchool by <a target="_blank" href="http://www.gschool.it">gSchool Group Awesome</a>
          </div>
      </div></div><!-- /.section, /#footer -->
    
  </div></div><!-- /#page, /#page-wrapper -->

  
  <!-- Segment Pixel - DP - Clyfford Still Museum - DO NOT MODIFY -->
<script src="https://ib.adnxs.com/seg?add=464546&t=1" type="text/javascript"></script>
<!-- End of Segment Pixel →
</body>
</html>
