<form action="/contact-us" method="POST">
  <label for="name">Name</label>
  <input name="user[:name]">
  <label for="email">Email</label>
  <input name="user[:email]">
  <label for="issue">Describe your issue</label>
  <textarea name="user[:issue]"></textarea>
</form>
