<form action="/contact-us" method="POST">
  <br/>
  <label for="name">Name</label><br/>
  <input type="text" name="user[name]"><br/>
  <label for="email">Email</label><br/>
  <input type="text" name="user[email]"><br/>
  <label for="issue">Describe your issue</label><br/>
  <textarea name="user[issue]"></textarea><br/>
  <input type="submit" value="Submit Feedback"/>
</form>
