<html>
  <head></head>
  <body>
    <p>Hi <%= user[:name] %>!</p>
    <br/>
    <p>Thanks for writing us! We'll get back to you within two business days regarding your issue. Hope you have a wonderful day!</p>
    <br/>
    <p>Cheers,<p>
    <p>Lydia</p>
    <br/>
    <p>Lydia Mila Garmaier</p>
    <p>Associate Director of Visitor Services and Events</p>
    <p>tel. 720-354-4868</p>
    <p>lydia@clyffordstillmuseum.org</p>
  </body>
<html>
