<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html dir="ltr" lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />

    <title>Clyfford Still Museum | Denver, Colorado</title>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <link href="/images/zen_csm_favicon.ico" rel="shortcut icon" type=
    "image/x-icon" />
    <link href="/css/regular_styles.css" media="all" rel="stylesheet" type=
    "text/css" />
    <link href="/css/print_styles.css" media="print" rel="stylesheet" type=
    "text/css" />
    <script src=
    "/sites/default/files/js/js_b92c8b3987ef6be676430b1fd45cbc95.js" type=
    "text/javascript"></script>
    <script type="text/javascript">
<!--//--><![CDATA[//><!--
    jQuery.extend(Drupal.settings, { "basePath": "/", "colorbox": { "transition": "elastic", "speed": 350, "opacity": "0.85", "slideshow": false, "slideshowAuto": false, "slideshowSpeed": 2500, "slideshowStart": "", "slideshowStop": "", "current": "{current} of {total}", "previous": "« Prev", "next": "Next »", "close": "Close", "overlayClose": true, "maxWidth": "100%", "maxHeight": "100%" }, "cron": { "basePath": "/poormanscron", "runNext": 1383195614 }, "viewsSlideshowSingleFrame": { "#views_slideshow_singleframe_main_header_photos-block_1": { "num_divs": 3, "id_prefix": "#views_slideshow_singleframe_main_", "div_prefix": "#views_slideshow_singleframe_div_", "vss_id": "header_photos-block_1", "timeout": "5000", "sort": 1, "effect": "fade", "speed": "700", "start_paused": 0, "delay": "0", "fixed_height": "1", "random": "0", "pause": "1", "pause_on_click": "0", "pause_when_hidden": 0, "pause_when_hidden_type": "full", "amount_allowed_visible": "", "remember_slide": 0, "remember_slide_days": "1", "controls": "0", "items_per_slide": "1", "pager": "2", "pager_type": "Thumbnails", "pager_hover": "2", "pager_click_to_page": 0, "image_count": "0", "nowrap": "0", "sync": "1", "advanced": "", "ie": { "cleartype": "true", "cleartypenobg": "false" } } }, "emvideo": { "thumbnail_overlay": true } });
    //--><!]]>
    </script>
</head>

<body class=
"page front not-logged-in node-type-page one-sidebar sidebar-first">
    <div id="page-wrapper">
        <div id="page">
            <div id="header">
                <div class="section clearfix">
                    <a href="/" id="logo" name="logo" rel="home" title=
                    "Home"><img alt="Home" src="/images/header.gif" /></a>
                    <a href="/" rel="home" title="Home"><span></span></a>

                    <div class="region region-header">
                        <div class=
                        "block block-views first last region-odd odd region-count-1 count-1"
                        id="block-views-header_photos-block_1">
                            <div class="content">
                                <div class=
                                "views_view view view-header-photos view-id-header_photos view-display-id-block_1 view-dom-id-1">
                                <div class="view-content">
                                        <div class=
                                        "views_slideshow_singleframe_main views_slideshow_main"
                                        id=
                                        "views_slideshow_singleframe_main_header_photos-block_1">
                                        <div class=
                                        "views_slideshow_singleframe_teaser_section"
                                            id=
                                            "views_slideshow_singleframe_teaser_section_header_photos-block_1">
                                            <div class=
                                            "views_slideshow_singleframe_slide views_slideshow_slide views-row-1 views-row-odd"
                                                id=
                                                "views_slideshow_singleframe_div_header_photos-block_1_0">
                                                <div class=
                                                "views-row views-row-0 views-row-first views-row-odd">
                                                    <div class=
                                                    "views-field-field-page-header-photo-fid">
                                                        <span class=
                                                        "field-content"><img alt=""
                                                            class=
                                                            "imagefield imagefield-field_page_header_photo"
                                                            height="235" src=
                                                            "https://www.clyffordstillmuseum.org/sites/default/files/images-page/banner_1_1.jpg?1335303165"
                                                            width=
                                                            "772" /></span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class=
                                                "views_slideshow_singleframe_slide views_slideshow_slide views-row-2 views_slideshow_singleframe_hidden views-row-even"
                                                id=
                                                "views_slideshow_singleframe_div_header_photos-block_1_1">
                                                <div class=
                                                "views-row views-row-0 views-row-first views-row-odd">
                                                    <div class=
                                                    "views-field-field-page-header-photo-fid">
                                                        <span class=
                                                        "field-content"><img alt=""
                                                            class=
                                                            "imagefield imagefield-field_page_header_photo"
                                                            height="235" src=
                                                            "https://www.clyffordstillmuseum.org/sites/default/files/images-page/banner_2_0.jpg?1335303165"
                                                            width=
                                                            "772" /></span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class=
                                                "views_slideshow_singleframe_slide views_slideshow_slide views-row-3 views_slideshow_singleframe_hidden views-row-odd"
                                                id=
                                                "views_slideshow_singleframe_div_header_photos-block_1_2">
                                                <div class=
                                                "views-row views-row-0 views-row-first views-row-odd">
                                                    <div class=
                                                    "views-field-field-page-header-photo-fid">
                                                        <span class=
                                                        "field-content"><img alt=""
                                                            class=
                                                            "imagefield imagefield-field_page_header_photo"
                                                            height="235" src=
                                                            "https://www.clyffordstillmuseum.org/sites/default/files/images-page/banner_2_1.jpg?1335303165"
                                                            width=
                                                            "772" /></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class=
                                        "views-slideshow-controls-bottom clear-block">
                                        <div class=
                                        "views_slideshow_singleframe_pager views_slideshow_pagerThumbnails"
                                            id=
                                            "views_slideshow_singleframe_pager_header_photos-block_1">
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- /.view -->
                            </div>
                        </div><!-- /.block -->
                    </div><!-- /.region -->
                </div>
            </div><!-- /.section, /#header -->

            <div id="main-wrapper">
                <div class="clearfix" id="main">
                    <div class="column" id="content">
                        <div class="section">
                            <div class="region region-content-top">
                                <div class=
                                "block block-views first last region-odd odd region-count-1 count-5"
                                id="block-views-frontpage_news-block_1">
                                    <h2 class="title">What's New</h2>

                                    <div class="content">
                                        <div class=
                                        "views_view view view-frontpage-news view-id-frontpage_news view-display-id-block_1 view-dom-id-3">
                                        <div class="view-content">
                                                <div class=
                                                "views-row first odd">
                                                    <div class="tmb"><img alt=
                                                    "" class=
                                                    "imagecache imagecache-small imagecache-default imagecache-small_default"
                                                    height="120" src=
                                                    "https://www.clyffordstillmuseum.org/sites/default/files/imagecache/small/images-front/Clyfford%20Still%20Open%20Night%200005%20.JPG"
                                                    title="" width=
                                                    "120" /></div>

                                                    <div class="desc info">
                                                        <p><strong>NIGHT AT THE
                                                        <span data-scayt_word=
                                                        "CLYFFORD"
                                                        data-scaytid="1">CLYFFORD</span>
                                                        STILL
                                                        MUSEUM</strong></p>

                                                        <p>In celebration of
                                                        Denver Arts Week, Night
                                                        at the
                                                        <span data-scayt_word=
                                                        "Clyfford"
                                                        data-scaytid="2">Clyfford</span>
                                                        Still Museum returns!
                                                        Enjoy complimentary
                                                        admission from 10 a.m.
                                                        to 10 p.m. on Saturday,
                                                        November 2, 2013.
                                                        <strong><a href=
                                                        "http://www.clyffordstillmuseum.org/artsweek">
                                                        Learn more about our
                                                        arts week
                                                        programs!</a></strong></p>
                                                    </div>

                                                    <div class="btn1 info">
                                                    </div>
                                                </div>

                                                <div class="views-row even">
                                                    <div class="tmb"><img alt=
                                                    "" class=
                                                    "imagecache imagecache-small imagecache-default imagecache-small_default"
                                                    height="120" src=
                                                    "https://www.clyffordstillmuseum.org/sites/default/files/imagecache/small/images-front/inStillwebthumb.jpg"
                                                    title="" width=
                                                    "120" /></div>

                                                    <div class="desc info">
                                                        <p><strong>INSTILL FALL
                                                        TEACHER OPEN
                                                        HOUSE</strong></p>

                                                        <p>Immersive and
                                                        activity-based,
                                                        <span data-scayt_word=
                                                        "inStill" data-scaytid=
                                                        "1">inStill</span>
                                                        Gallery Experiences
                                                        transform the galleries
                                                        into a classroom. Not
                                                        just an art experience,
                                                        <span data-scayt_word=
                                                        "inStill" data-scaytid=
                                                        "2">inStill</span>
                                                        field trips integrate
                                                        art, literacy, and
                                                        humanities. We invite
                                                        area teachers to come
                                                        and see what our new
                                                        school programs are all
                                                        about! <a href=
                                                        "http://www.clyffordstillmuseum.org/instillopenhouse">
                                                        <strong>Learn
                                                        more.</strong></a></p>
                                                    </div>

                                                    <div class="btn1 info">
                                                    </div>
                                                </div>

                                                <div class=
                                                "views-row last odd">
                                                    <div class="tmb"><img alt=
                                                    "" class=
                                                    "imagecache imagecache-small imagecache-default imagecache-small_default"
                                                    height="120" src=
                                                    "https://www.clyffordstillmuseum.org/sites/default/files/imagecache/small/images-front/DP%2526P-Thumbnail.jpg"
                                                    title="" width=
                                                    "120" /></div>

                                                    <div class="desc info">
                                                        <p>
                                                        <strong>DRAWING/PAINTING/PROCESS:</strong>
                                                        Experience the creative
                                                        process and artistic
                                                        evolution of Clyfford
                                                        Still. On view October
                                                        4, 2013 through
                                                        February 9, 2014.
                                                        <strong><a href=
                                                        "http://www.clyffordstillmuseum.org/drawingpaintingprocess">
                                                        Learn
                                                        more.</a></strong></p><script type="text/javascript">
//<![CDATA[

                                                        var _gaq = _gaq || [];
                                                        _gaq.push(['_setAccount', 'UA-29830735-1']);
                                                        _gaq.push(['_trackPageview']);

                                                        (function() {
                                                        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                                                        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                                                        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                                                        })();

                                                        //]]>
                                                        </script>
                                                    </div>

                                                    <div class="btn1 info">
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- /.view -->
                                    </div>
                                </div><!-- /.block -->
                            </div><!-- /.region -->
                        </div>

                        
                    </div><!-- /.section, /#content -->

                    <div class="region region-sidebar-first column sidebar">
                        <div class="section">
                            <div class=
                            "block block-menu first region-odd even region-count-1 count-2"
                            id="block-menu-primary-links">
                                <div class="content">
                                    <ul class="menu">
                                        <li class="expanded first">
                                            <a href="/hours" title=
                                            "VISIT US">VISIT US</a>

                                            <ul class="menu">
                                                <li class="leaf first">
                                                    <a href=
                                                    "/hours"
                                                    title=
                                                    "TICKETS, ADMISSION &amp; HOURS">
                                                    tickets, admission &amp;
                                                    hours</a>
                                                </li>

                                                <li class="leaf">
                                                    <a href=
                                                    "/directions"
                                                    title=
                                                    "DIRECTIONS">directions</a>
                                                </li>
                                            </ul>
                                        </li>

                                        <li class="collapsed">
                                            <a href="/museum" title=
                                            "">MUSEUM</a>
                                        </li>

                                        <li class="leaf">
                                            <a href="/clyfford-still" title=
                                            "CLYFFORD STILL">CLYFFORD STILL</a>
                                        </li>

                                        <li class="collapsed">
                                            <a href="/programs" title=
                                            "">PROGRAMS &amp; EVENTS</a>
                                        </li>

                                        <li class="leaf last">
                                            <a href="/gallery/5" title="">PHOTO
                                            GALLERY</a>
                                        </li>
                                    </ul>
                                </div>
                            </div><!-- /.block -->

                            <div class=
                            "block block-menu region-even odd region-count-2 count-3"
                            id="block-menu-secondary-links">
                                <div class="content">
                                    <ul class="menu">
                                        <li class="leaf first">
                                            <a href="/contact-us" title=
                                            "CONTACT US">CONTACT US</a>
                                        </li>
                                    </ul>
                                </div>
                            </div><!-- /.block -->

                            <div class=
                            "block block-block last region-even odd region-count-4 count-5"
                            id="block-block-2">
                                <div class="content">
                                    <p><a href=
                                    "http://www.facebook.com/pages/Denver-CO/Clyfford-Still-Museum/295120003223?ref=ts">
                                    <img alt=
                                    "Clyfford Still Museum on Facebook" src=
                                    "/images/facebook.png" style=
                                    "width: 24px; height: 24px;" /></a>&nbsp;<a href="http://twitter.com/#!/Still_Museum"><img alt="Clyfford Still Museum on Twitter"
                                    src="/images/twitter.png" style=
                                    "width: 24px; height: 24px;" /></a>&nbsp;<a href="http://www.flickr.com/people/clyffordstillmuseum/"><img alt="Clyfford Still Museum on Flickr"
                                    src="/images/flickr.png" style=
                                    "width: 24px; height: 24px;" /></a></p>
                                </div>
                            </div><!-- /.block -->
                        </div>
                    </div><!-- /.section, /.region -->
                </div>
            </div><!-- /#main, /#main-wrapper -->

            <div id="footer">
                <div class="section">
                    <div class="region region-footer">
                        <div class=
                        "block block-block first region-odd even region-count-1 count-6"
                        id="block-block-1">
                            <div class="content">
                                <p><a href="http://www.scfd.org"><img alt=
                                "SCFD" src="/images/SCFD-logo.png" style=
                                "width: 54px; height: 84px;" /></a></p><script type="text/javascript">
//<![CDATA[

                                var _gaq = _gaq || [];
                                _gaq.push(['_setAccount', 'UA-29830735-1']);
                                _gaq.push(['_trackPageview']);

                                (function() {
                                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                                })();

                                //]]>
                                </script>
                            </div>
                        </div><!-- /.block -->

                        <div class=
                        "block block-block last region-even odd region-count-2 count-7"
                        id="block-block-10">
                            <div class="content">
                                <div>
                                    <strong><span data-scayt_word="CLYFFORD"
                                    data-scaytid="7">CLYFFORD</span> STILL
                                    MUSEUM</strong>

                                    <div>
                                        1250 <span data-scayt_word="Bannock"
                                        data-scaytid="8">Bannock</span> Street
                                    </div>

                                    <div>
                                        Denver, CO 80204
                                    </div>
                                </div>

                                <div>
                                    <span data-scayt_word="tel" data-scaytid=
                                    "9">tel</span> 720-354-4880<br />
                                    <a href=
                                    "mailto:%E2%80%A8info@clyffordstillmuseum.org">
                                    info@clyffordstillmuseum.org</a>
                                </div>
                            </div>
                        </div><!-- /.block -->
                    </div><!-- /.region -->

                    <div class="copyright">
                        © Copyright 2013. Clyfford Still Museum<br />
                        gSchool by <a href="http://www.gschool.it" target=
                        "_blank">gSchool Group Awesome</a>
                    </div>
                </div>
            </div><!-- /.section, /#footer -->
        </div>
    </div><!-- /#page, /#page-wrapper -->
    <!-- Segment Pixel - DP - Clyfford Still Museum - DO NOT MODIFY -->
    <script src="https://ib.adnxs.com/seg?add=464546&amp;t=1" type=
    "text/javascript"></script> <!-- End of Segment Pixel →
</body>
</html>
-->
</body>
</html>
