<DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Collection Photos | Clyfford Still Museum</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="shortcut icon" href="/sites/default/files/zen_csm_favicon.ico" type="image/x-icon" />

  <link type="text/css" rel="stylesheet" media="all" href="/css/regular_styles.css" />
<link type="text/css" rel="stylesheet" media="print" href="/css/print_styles.css" />

  <script type="text/javascript" src="/sites/default/files/js/js_d1a491a78def12d6718b9a7d22b2d393.js"></script>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
jQuery.extend(Drupal.settings, { "basePath": "/", "colorbox": { "transition": "elastic", "speed": 350, "opacity": "0.85", "slideshow": false, "slideshowAuto": false, "slideshowSpeed": 2500, "slideshowStart": "", "slideshowStop": "", "current": "{current} of {total}", "previous": "« Prev", "next": "Next »", "close": "Close", "overlayClose": true, "maxWidth": "100%", "maxHeight": "100%" }, "cron": { "basePath": "/poormanscron", "runNext": 1383195614 } });
//--><!]]>
</script>
</head>
<body class="page not-front not-logged-in page-gallery-5 section-gallery one-sidebar sidebar-first page-views">


  <div id="page-wrapper"><div id="page">

    <div id="header"><div class="section clearfix">
        <a href="/" title="Home" rel="home" id="logo"><img src="/images/header.gif" alt="Home" /></a>
    <a href="/" title="Home" rel="home"><span></span></a>
      </div></div><!-- /.section, /#header -->





    <div id="main-wrapper" ><div id="main" class="clearfix">
          <div id="content" class="column">
      <div class="section">

                  <h1 class="title">Collection Photos</h1>



        <div id="content-area">
          <div class="views_view view view-gallery view-id-gallery view-display-id-page_1 view-dom-id-1">




      <% if photos.count > 0 %>
      <div class="view-content">
        <div class="views-row first odd">
         <div>
            <img src="/uploads/<%= photos[0][:filename] %>" class="imagecache imagecache-small" width="120" height="120" />
         </div>
        </div>
      <% end %>
      <% if photos.count > 1 %>
        <% photos[1..-2].each do |photo| %>
          <% if photo[:id]%2 == 0 %>
            <div class="views-row even">
              <div>
                <img src="/uploads/<%= photo[:filename] %>" class="imagecache imagecache-small" width="120" height="120" />
              </div>
            </div>
          <% else %>
            <div class="views-row odd">
              <div>
                <img src="/uploads/<%= photo[:filename] %>" class="imagecache imagecache-small" width="120" height="120" />
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
      <% if photos.count > 1 %>
        <div class="views-row last even">
          <div>
            <img src="/uploads/<%= photos[-1][:filename] %>" class="imagecache imagecache-small" width="120" height="120" />
          </div>
        </div>
      <% end %>
      </div>






</div><!-- /.view -->
        </div>



      </div>
        <div id="content-bottom" class="clearfix">
                  </div>
      </div><!-- /.section, /#content -->



      <div class="region region-sidebar-first column sidebar"><div class="section">
  <div id="block-menu-primary-links" class="block block-menu first region-odd odd region-count-1 count-1">

  <div class="content">
    <ul class="menu"><li class="expanded first"><a href="/hours" title="VISIT US">VISIT US</a><ul class="menu"><li class="leaf first"><a href="/hours" title="TICKETS, ADMISSION &amp; HOURS">tickets, admission &amp; hours</a></li>
<li class="leaf"><a href="/directions" title="DIRECTIONS">directions</a></li>
<li class="collapsed"><a href="/museum" title="">MUSEUM</a><ul class="menu"><li class="expanded first last active-trail"><a href="/photo-gallery" title="" class="active">GALLERY</a><ul class="menu"><li class="leaf first active-trail"><a href="/photo-gallery" title="" class="active">Collection</a></li>
<li class="leaf"><a href="/gallery/3" title="Clyfford Still">Clyfford Still</a></li>
<li class="leaf last"><a href="/gallery/4" title="Museum">Museum</a></li>
</ul></li>
</ul></li>
</ul></li>

<li class="leaf"><a href="/clyfford-still" title="CLYFFORD STILL">CLYFFORD STILL</a></li>
<li class="collapsed"><a href="/programs" title="">PROGRAMS &amp; EVENTS</a></li>
<li class="leaf last"><a href="/photo-gallery" title="" class="active">PHOTO GALLERY</a></li>
</ul>  </div>

  </div><!-- /.block -->
<div id="block-menu-secondary-links" class="block block-menu region-even even region-count-2 count-2">
  
  <div class="content">
    <ul class="menu"><li class="leaf first"><a href="/contact-us" title="CONTACT US">CONTACT US</a></li>
</ul>  </div>

  </div><!-- /.block -->
<div id="block-block-2" class="block block-block last region-odd odd region-count-3 count-3">
  
  <div class="content">
    <p><a href="http://www.facebook.com/pages/Denver-CO/Clyfford-Still-Museum/295120003223?ref=ts"><img alt="Clyfford Still Museum on Facebook" src="/sites/default/files/editor-images/facebook.png" style="width: 24px; height: 24px; " /></a>&nbsp;<a href="http://twitter.com/#!/Still_Museum"><img alt="Clyfford Still Museum on Twitter" src="/sites/default/files/editor-images/twitter.png" style="width: 24px; height: 24px; " /></a>&nbsp;<a href="http://www.flickr.com/people/clyffordstillmuseum/"><img alt="Clyfford Still Museum on Flickr" src="/sites/default/files/editor-images/flickr.png" style="width: 24px; height: 24px; " /></a></p>
  </div>

  </div><!-- /.block -->
</div></div><!-- /.section, /.region -->

      
    </div></div><!-- /#main, /#main-wrapper -->

          <div id="footer"><div class="section">

       
        
        <div class="region region-footer">
  <div id="block-block-1" class="block block-block first region-odd even region-count-1 count-4">
  
  <div class="content">
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-29830735-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>  </div>

  </div><!-- /.block -->

  </div><!-- /.block -->
</div><!-- /.region -->
          <div class="copyright">&#169; Copyright 2013. Clyfford Still Museum<br />
            Denver Web Design by <a target="_blank" href="http://www.newmediadenver.com/web-design/web-design-denver-co">NewMediaDenver</a>
          </div>
      </div></div><!-- /.section, /#footer -->
    
  </div></div><!-- /#page, /#page-wrapper -->

  
  <!-- Segment Pixel - DP - Clyfford Still Museum - DO NOT MODIFY -->
<script src="https://ib.adnxs.com/seg?add=464546&t=1" type="text/javascript"></script>
<!-- End of Segment Pixel →
</body>
</html>


