<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>CONTACT US | Clyfford Still Museum</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="shortcut icon" href="/sites/default/files/zen_csm_favicon.ico" type="image/x-icon" />
  <link type="text/css" rel="stylesheet" media="all" href="/css/regular_styles.css" />
  <link type="text/css" rel="stylesheet" media="print" href="/css/print_styles.css" />
  <script type="text/javascript" src="/sites/default/files/js/js_d1a491a78def12d6718b9a7d22b2d393.js"></script>
  <script type="text/javascript">
<!--//--><![CDATA[//><!--
jQuery.extend(Drupal.settings, { "basePath": "/", "colorbox": { "transition": "elastic", "speed": 350, "opacity": "0.85", "slideshow": false, "slideshowAuto": false, "slideshowSpeed": 2500, "slideshowStart": "", "slideshowStop": "", "current": "{current} of {total}", "previous": "« Prev", "next": "Next »", "close": "Close", "overlayClose": true, "maxWidth": "100%", "maxHeight": "100%" }, "cron": { "basePath": "/poormanscron", "runNext": 1383152348 }, "viewsSlideshowSingleFrame": { "#views_slideshow_singleframe_main_header_photos-block_1": { "num_divs": 1, "id_prefix": "#views_slideshow_singleframe_main_", "div_prefix": "#views_slideshow_singleframe_div_", "vss_id": "header_photos-block_1", "timeout": "5000", "sort": 1, "effect": "fade", "speed": "700", "start_paused": 0, "delay": "0", "fixed_height": "1", "random": "0", "pause": "1", "pause_on_click": "0", "pause_when_hidden": 0, "pause_when_hidden_type": "full", "amount_allowed_visible": "", "remember_slide": 0, "remember_slide_days": "1", "controls": "0", "items_per_slide": "1", "pager": "2", "pager_type": "Thumbnails", "pager_hover": "2", "pager_click_to_page": 0, "image_count": "0", "nowrap": "0", "sync": "1", "advanced": "", "ie": { "cleartype": "true", "cleartypenobg": "false" } } } });
//--><!]]>
</script>
</head>
<body class="page not-front not-logged-in node-type-page page-contact-us section-contact-us one-sidebar sidebar-first">

  <div id="page-wrapper"><div id="page">

     <div id="header"><div class="section clearfix">
        <a href="/" title="Home" rel="home" id="logo"><img src="/images/header.gif" alt="Home" /></a>
    <a href="/" title="Home" rel="home"><span></span></a>
    <div class="region region-header">
  <div id="block-views-header_photos-block_1" class="block block-views first last region-odd odd region-count-1 count-1">
  
  <div class="content">
    <div class="views_view view view-header-photos view-id-header_photos view-display-id-block_1 view-dom-id-1">
  
  
  
  
      <div class="view-content">
      


<div id="views_slideshow_singleframe_main_header_photos-block_1" class="views_slideshow_singleframe_main views_slideshow_main"><div id="views_slideshow_singleframe_teaser_section_header_photos-block_1" class="views_slideshow_singleframe_teaser_section"><div class="views_slideshow_singleframe_slide views_slideshow_slide views-row-1 views-row-odd" id="views_slideshow_singleframe_div_header_photos-block_1_0"><div class="views-row views-row-0 views-row-first views-row-odd">
  
  <div class="views-field-field-page-header-photo-fid">
                <span class="field-content"><img  class="imagefield imagefield-field_page_header_photo" width="772" height="235" alt="" src="https://www.clyffordstillmuseum.org/sites/default/files/images-page/photo_contact.jpg?1377298339" /></span>
  </div>

</div>
</div>
</div>
</div>
  <div class="views-slideshow-controls-bottom clear-block">
        <div class="views_slideshow_singleframe_pager views_slideshow_pagerThumbnails" id="views_slideshow_singleframe_pager_header_photos-block_1"></div>      </div>
    </div>  
  
</div><!-- /.view -->
  </div>

  </div><!-- /.block -->
</div><!-- /.region -->
  </div></div><!-- /.section, /#header -->

    <div id="main-wrapper" ><div id="main" class="clearfix">

          <div id="content" class="column">
      <div class="section">
        
                  <h1 class="title">contact us</h1>                   
        

        <div id="content-area">
          <div id="node-9" class="node node-type-page build-mode-full clearfix">
 
  <div class="content">
    <br/>
    <h4>Thank you for your submission!</h4>
<table align="left" border="0" cellpadding="0" cellspacing="5" style="width: 100%">
<tbody>
<tr>
<td>
<h2>CONTACT INFORMATION</h2>
</td>
<td>
<h2>STAFF CONTACTS</h2>
</td>
</tr>
<tr>
<td style="text-align: left; vertical-align: top">
<div><strong><span data-scayt_word="CLYFFORD" data-scaytid="1">CLYFFORD</span> STILL MUSEUM</strong>
<div>1250 <span data-scayt_word="Bannock" data-scaytid="2">Bannock</span> Street</div>
<div>Denver, CO 80204</div>
</div>
<div><span data-scayt_word="tel" data-scaytid="3">tel</span> 720-354-4880<br />
          <a href="mailto: info@clyffordstillmuseum.org">info@clyffordstillmuseum.org</a></div>
<div>&nbsp;</div>
<div>For information on image rights</div>
<div>and reproductions, email:</div>
<div><a href="mailto:bailey@clyffordstillmuseum.org?subject=Copyright%20Inquiry">bailey@clyffordstillmuseum.org</a></div>
<div>&nbsp;</div>
<div>For information about museum rentals,</div>
<div>contact: <span data-scayt_word="tel" data-scaytid="4">tel</span>. 720-354-4868</div>
<div>or email: <a href="mailto:chase@clyffordstillmuseum.org">lydia@clyffordstillmuseum.org</a><br />
          &nbsp;</div>
</td>
<td style="text-align: left; vertical-align: top">
<div><strong>ADMINISTRATION </strong><br />
          Dean <span data-scayt_word="Sobel" data-scaytid="6">Sobel</span>, Director<br />
          <a href="mailto:dean@clyffordstillmuseum.org">dean@clyffordstillmuseum.org</a></div>
<div>&nbsp;</div>
<div>Joan <span data-scayt_word="Prusse" data-scaytid="7">Prusse</span>, Deputy Director<br />
          <a href="mailto:joan@clyffordstillmuseum.org">joan@clyffordstillmuseum.org</a></div>
<div>&nbsp;</div>
<div><strong>DEVELOPMENT/MEMBERSHIP</strong>
<div>
<div>Teresa <span data-scayt_word="Chamberland" data-scaytid="8">Chamberland</span>, Director of Development</div>
<div><span data-scayt_word="tel" data-scaytid="9">tel</span>. 720-354-4875</div>
<div><a href="mailto:teresa@clyffordstillmuseum.org?subject=Inquiry%20from%20contact%20us%20page">teresa@clyffordstillmuseum.org</a></div>
<div>&nbsp;</div>
<div>Alex <span data-scayt_word="Schulze" data-scaytid="11">Schulze</span>, Development &amp; Membership Manager</div>
<div><span data-scayt_word="tel" data-scaytid="12">tel</span>. 720-354-4871<br />
              <a href="mailto:allison@clyffordstillmuseum.org">alex@clyffordstillmuseum.org</a></div>
<div>&nbsp;</div>
<div>
<div><strong>EDUCATION/PROGRAMS</strong><br />
                Victoria <span data-scayt_word="Eastburn" data-scaytid="14">Eastburn</span>, Director of Education and Programs<br />
                <a href="mailto:victoria@clyffordstillmuseum.org">victoria@clyffordstillmuseum.org</a></div>
<div>&nbsp;</div>
<div>Teresa <span data-scayt_word="DiCurela" data-scaytid="52">DiCurela</span>, Education &amp; Programs Associate<br />
                <a href="mailto:teresa_edu@clyffordstillmuseum.org">teresa_edu@clyffordstillmuseum.org</a></div>
<div></div>
<div><strong>MARKETING</strong><br />
                Irene <span data-scayt_word="Weygandt" data-scaytid="16">Weygandt</span>, Director of Marketing<br />
                <span data-scayt_word="tel" data-scaytid="15">tel</span>. 720-354-4874<br />
                <a href="mailto:irene@clyffordstillmuseum.org">irene@clyffordstillmuseum.org</a></div>
<div>
<div>&nbsp;</div>
<div>
<div><strong>PRESS/PUBLIC RELATIONS</strong><br />
                    Regan Petersen, PR Consultant<br />
                    <span data-scayt_word="tel" data-scaytid="18">tel</span>. 303-332-3896<br />
                    <a href="mailto:regan@fitzgeraldpetersen.com?subject=Clyfford%20Still%20Museum">regan@fitzgeraldpetersen.com</a></div>
<div>&nbsp;</div>
<div>
<div><strong>VISITOR SERVICES AND EVENTS</strong><br />
                      Lydia Mila <span data-scayt_word="Garmaier" data-scaytid="20">Garmaier</span>, Associate Director of Visitor Services &amp; Events<br />
                      <span data-scayt_word="tel" data-scaytid="21">tel</span>. 720-354-4868<br />
                      <a href="mailto:lydia@clyffordstillmuseum.org">lydia@clyffordstillmuseum.org</a></div>
</div>
<div>&nbsp;</div>
<div>
<div>
<div><strong>COLLECTIONS</strong><br />
                        Bailey <span data-scayt_word="Harberg" data-scaytid="23">Harberg</span>, Collections Manager<br />
                        <a href="mailto:bailey@clyffordstillmuseum.org">bailey@clyffordstillmuseum.org</a></div>
<div>&nbsp;</div>
<div>Emily <span data-scayt_word="Kosakowski" data-scaytid="24">Kosakowski</span>, Registrar<br />
                        <a href="mailto:bailey@clyffordstillmuseum.org">emily@clyffordstillmuseum.org</a></div>
<div>&nbsp;</div>
<div>James Squires, Associate Conservator of Paintings</div>
<div>j<a href="http://james@clyffordstillmuseum.org">ames@clyffordstillmuseum.org</a></div>
<div>&nbsp;</div>
<div>Jessie De La Cruz, Archivist</div>
<div><a href="mailto:jessie@clyffordstillmuseum.org">jessie@clyffordstillmuseum.org</a></div>
</div>
</div>
<div>&nbsp;</div>
<div>
<div><strong>FACILITIES</strong><br />
                      David Finch, Facilities Manager<br />
                      <a href="mailto:david@clyffordstillmuseum.org">david@clyffordstillmuseum.org</a></div>
<div>&nbsp;</div>
<div><strong>ACCOUNTING</strong></div>
<div><span data-scayt_word="Graciano" data-scaytid="25">Graciano</span> Wee, Accountant</div>
<div><a href="mailto:graciano@clyffordstillmuseum.org">graciano@clyffordstillmuseum.org</a></div>
</div>
</div>
</div>
</div>
</div>
</div>
<div>&nbsp;</div>
</td>
</tr>
</tbody>
<script type="text/javascript">


var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-29830735-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script></table>
<div class="field field-type-filefield field-field-page-header-photo">
      <div class="field-label">Header Photo:&nbsp;</div>
    <div class="field-items">
            <div class="field-item odd">
                    <img  class="imagefield imagefield-field_page_header_photo" width="772" height="235" alt="" src="https://www.clyffordstillmuseum.org/sites/default/files/images-page/photo_contact.jpg?1377298339" />        </div>
        </div>
</div>
  </div>

  </div><!-- /.node -->
        </div>

        

      </div>
        <div id="content-bottom" class="clearfix">
                  </div>
      </div><!-- /.section, /#content -->



      <div class="region region-sidebar-first column sidebar"><div class="section">
  <div id="block-menu-primary-links" class="block block-menu first region-odd even region-count-1 count-2">
  
  <div class="content">
    <ul class="menu"><li class="expanded first"><a href="/hours" title="VISIT US">VISIT US</a><ul class="menu"><li class="leaf first"><a href="/hours" title="TICKETS, ADMISSION &amp; HOURS">tickets, admission &amp; hours</a></li>
<li class="leaf"><a href="/directions" title="DIRECTIONS">directions</a></li>
</ul></li>
<li class="collapsed"><a href="/museum" title="">MUSEUM</a></li>
</ul></li>
<li class="leaf"><a href="/clyfford-still" title="CLYFFORD STILL" class="active">CLYFFORD STILL</a></li>
<li class="collapsed"><a href="/programs" title="">PROGRAMS &amp; EVENTS</a></li>
<li class="leaf last"><a href="/gallery/5" title="">PHOTO GALLERY</a></li>
</ul>  </div>

  </div><!-- /.block -->
<div id="block-menu-secondary-links" class="block block-menu region-even odd region-count-2 count-3">
  
  <div class="content">
    <ul class="menu"><li class="leaf first active-trail"><a href="/contact-us" title="CONTACT US" class="">CONTACT US</a></li>

</ul>  </div>

  </div><!-- /.block -->
<div id="block-block-2" class="block block-block last region-even odd region-count-4 count-5">
  
  <div class="content">
    <p><a href="http://www.facebook.com/pages/Denver-CO/Clyfford-Still-Museum/295120003223?ref=ts"><img alt="Clyfford Still Museum on Facebook" src="/images/facebook.png" style="width: 24px; height: 24px; " /></a>&nbsp;<a href="http://twitter.com/#!/Still_Museum"><img alt="Clyfford Still Museum on Twitter" src="/images/twitter.png" style="width: 24px; height: 24px; " /></a>&nbsp;<a href="http://www.flickr.com/people/clyffordstillmuseum/"><img alt="Clyfford Still Museum on Flickr" src="/images/flickr.png" style="width: 24px; height: 24px; " /></a></p>
  </div>

  </div><!-- /.block -->
</div></div><!-- /.section, /.region -->
      
    </div></div><!-- /#main, /#main-wrapper -->

          <div id="footer"><div class="section">       
        
        <div class="region region-footer">
  <div id="block-block-1" class="block block-block first region-odd even region-count-1 count-6">
  
  <div class="content">
    <p><a href="http://www.scfd.org"><img alt="SCFD" src="/images/SCFD-logo.png" style="width: 54px; height: 84px; " /></a></p>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-29830735-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>  </div>

  </div><!-- /.block -->
<div id="block-block-10" class="block block-block last region-even odd region-count-2 count-7">
  
  <div class="content">
    <div><strong><span data-scayt_word="CLYFFORD" data-scaytid="7">CLYFFORD</span> STILL MUSEUM</strong>
<div>1250 <span data-scayt_word="Bannock" data-scaytid="8">Bannock</span> Street</div>
<div>Denver, CO 80204</div>
</div>
<div><span data-scayt_word="tel" data-scaytid="9">tel</span> 720-354-4880<br />
  <a href="mailto:%E2%80%A8info@clyffordstillmuseum.org">info@clyffordstillmuseum.org</a></div>
  </div>

  </div><!-- /.block -->
</div><!-- /.region -->
          <div class="copyright">&#169; Copyright 2013. Clyfford Still Museum<br />
            gSchool by <a target="_blank" href="http://www.gschool.it">gSchool Group Awesome</a>
          </div>
      </div></div><!-- /.section, /#footer -->
    
  </div></div><!-- /#page, /#page-wrapper -->
  
  <!-- Segment Pixel - DP - Clyfford Still Museum - DO NOT MODIFY -->
<script src="https://ib.adnxs.com/seg?add=464546&t=1" type="text/javascript"></script>
<!-- End of Segment Pixel →
</body>
</html>
