<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>about the museum | Clyfford Still Museum</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="shortcut icon" href="/sites/default/files/zen_csm_favicon.ico" type="image/x-icon" />

  <link type="text/css" rel="stylesheet" media="all" href="/sites/default/files/css/css_9c2565c3f203047d91c1bc478140e059.css" />
<link type="text/css" rel="stylesheet" media="print" href="/sites/default/files/css/css_ed28c31f941a458593b4926304580347.css" />

  <script type="text/javascript" src="/sites/default/files/js/js_d1a491a78def12d6718b9a7d22b2d393.js"></script>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
jQuery.extend(Drupal.settings, { "basePath": "/", "colorbox": { "transition": "elastic", "speed": 350, "opacity": "0.85", "slideshow": false, "slideshowAuto": false, "slideshowSpeed": 2500, "slideshowStart": "", "slideshowStop": "", "current": "{current} of {total}", "previous": "« Prev", "next": "Next »", "close": "Close", "overlayClose": true, "maxWidth": "100%", "maxHeight": "100%" }, "cron": { "basePath": "/poormanscron", "runNext": 1383022658 }, "viewsSlideshowSingleFrame": { "#views_slideshow_singleframe_main_header_photos-block_1": { "num_divs": 2, "id_prefix": "#views_slideshow_singleframe_main_", "div_prefix": "#views_slideshow_singleframe_div_", "vss_id": "header_photos-block_1", "timeout": "5000", "sort": 1, "effect": "fade", "speed": "700", "start_paused": 0, "delay": "0", "fixed_height": "1", "random": "0", "pause": "1", "pause_on_click": "0", "pause_when_hidden": 0, "pause_when_hidden_type": "full", "amount_allowed_visible": "", "remember_slide": 0, "remember_slide_days": "1", "controls": "0", "items_per_slide": "1", "pager": "2", "pager_type": "Thumbnails", "pager_hover": "2", "pager_click_to_page": 0, "image_count": "0", "nowrap": "0", "sync": "1", "advanced": "", "ie": { "cleartype": "true", "cleartypenobg": "false" } } } });
//--><!]]>
</script>
</head>
<body class="page not-front not-logged-in node-type-page page-museum section-museum one-sidebar sidebar-first">


  <div id="page-wrapper"><div id="page">

    <div id="header"><div class="section clearfix">
        <a href="/" title="Home" rel="home" id="logo"><img src="/sites/all/themes/zen_csm/images/csm-logo.gif" alt="Home" /></a>
    <a href="/" title="Home" rel="home"><span></span></a>
    <div class="region region-header">
  <div id="block-views-header_photos-block_1" class="block block-views first last region-odd odd region-count-1 count-1">
  
  <div class="content">
    <div class="views_view view view-header-photos view-id-header_photos view-display-id-block_1 view-dom-id-1">
  
  
  
  
      <div class="view-content">
      


<div id="views_slideshow_singleframe_main_header_photos-block_1" class="views_slideshow_singleframe_main views_slideshow_main"><div id="views_slideshow_singleframe_teaser_section_header_photos-block_1" class="views_slideshow_singleframe_teaser_section"><div class="views_slideshow_singleframe_slide views_slideshow_slide views-row-1 views-row-odd" id="views_slideshow_singleframe_div_header_photos-block_1_0"><div class="views-row views-row-0 views-row-first views-row-odd">
  
  <div class="views-field-field-page-header-photo-fid">
                <span class="field-content"><img  class="imagefield imagefield-field_page_header_photo" width="772" height="235" alt="" src="https://www.clyffordstillmuseum.org/sites/default/files/images-page/West%20Sunrise%20Exterior.jpg?1351539750" /></span>
  </div>

</div>
</div>
<div class="views_slideshow_singleframe_slide views_slideshow_slide views-row-2 views_slideshow_singleframe_hidden views-row-even" id="views_slideshow_singleframe_div_header_photos-block_1_1"><div class="views-row views-row-0 views-row-first views-row-odd">
  
  <div class="views-field-field-page-header-photo-fid">
                <span class="field-content"><img  class="imagefield imagefield-field_page_header_photo" width="772" height="235" alt="" src="https://www.clyffordstillmuseum.org/sites/default/files/images-page/_MG_8581_FINAL.jpg?1351539750" /></span>
  </div>

</div>
</div>
</div>
</div>
  <div class="views-slideshow-controls-bottom clear-block">
        <div class="views_slideshow_singleframe_pager views_slideshow_pagerThumbnails" id="views_slideshow_singleframe_pager_header_photos-block_1"></div>      </div>
    </div>
  
  
  
  
  
  
</div><!-- /.view -->
  </div>

  </div><!-- /.block -->
</div><!-- /.region -->
  </div></div><!-- /.section, /#header -->
   




    <div id="main-wrapper" ><div id="main" class="clearfix">
          <div id="content" class="column">
      <div class="section">
        
                  <h1 class="title">about the museum</h1>
                                
        

        <div id="content-area">
          <div id="node-201" class="node node-type-page build-mode-full clearfix">


  


 
  <div class="content">
    <p>The Mission of the Clyfford Still Museum is to advance the understanding and appreciation of Clyfford Still&#39;s art and legacy through the presentation, research, interpretation, preservation, and stewardship of its unique collections.</p>
<p>Considered one of the most important painters of the 20th century, Clyfford Still (1904-1980) was among the first generation of Abstract Expressionist artists who developed a new and powerful approach to painting in the years immediately following World War II. After the artist&#39;s death in 1980, the Clyfford Still Estate was sealed off from public and scholarly view. Still&#39;s will stipulated that his estate be given in its entirety to an American city willing to establish a permanent museum dedicated solely to his work, ensuring its survival for exhibition and study. In August 2004, the City of Denver, under the leadership of then Mayor John W. Hickenlooper, was selected by Still&#39;s wife, Patricia Still, to receive the substantial Still collection. In 2005, Patricia Still also bequeathed to the city her own estate, which included select paintings by her husband as well as his complete archives. The Still Museum collection, which represents nearly 94 percent of the artist&#39;s lifetime output, includes approximately 2,400 works created between 1920 and 1980.</p>
<p>The Clyfford Still Museum is the newest addition to Denver&#39;s burgeoning Cultural Arts District and is located adjacent to the Denver Art Museum in the city&#39;s Civic Center Cultural Complex. The two-story, 28,500-square-foot building was designed by Brad Cloepfil of Allied Works Architecture specifically to display Still&#39;s work. The museum broke ground in December 2009 and was completed in November of 2011. The museum allows visitors the unique experience to understand the legacy of Clyfford Still, an artist whose life has been shrouded in mystery and the bulk of whose work has been hidden from public view for over 30 years.</p>
<p><strong>2011 INAUGURAL ANNUAL REPORT</strong></p>
<div>
<object style="width:300px;height:150px" ><param name="movie" value="http://static.issuu.com/webembed/viewers/style1/v2/IssuuReader.swf?mode=mini&amp;titleBarEnabled=true&amp;backgroundColor=%23222222&amp;documentId=121003221430-6f0eb533c74e4b8eb814b2eaf4f7d8db" /><param name="allowfullscreen" value="true" /><param name="menu" value="false" /><param name="wmode" value="transparent" /><embed src="http://static.issuu.com/webembed/viewers/style1/v2/IssuuReader.swf" type="application/x-shockwave-flash" allowfullscreen="true" menu="false" wmode="transparent" style="width:300px;height:150px" flashvars="mode=mini&amp;titleBarEnabled=true&amp;backgroundColor=%23222222&amp;documentId=121003221430-6f0eb533c74e4b8eb814b2eaf4f7d8db" /></embed></object><div style="width:300px;text-align:left;"><a href="http://issuu.com/clyfford/docs/csm_annual_report_online?mode=window&amp;backgroundColor=%23222222" target="_blank">Open publication</a> - Free <a href="http://issuu.com" target="_blank">publishing</a> - <a href="http://issuu.com/search?q=annual%20report" target="_blank">More annual report</a></div>
</div>
<div>&nbsp;</div>
<script type="text/javascript">

<div><object style="width:420px;height:210px" >
var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-29830735-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</object></div></script><div class="field field-type-filefield field-field-page-header-photo">
      <div class="field-label">Header Photo:&nbsp;</div>
    <div class="field-items">
            <div class="field-item odd">
                    <img  class="imagefield imagefield-field_page_header_photo" width="772" height="235" alt="" src="https://www.clyffordstillmuseum.org/sites/default/files/images-page/West%20Sunrise%20Exterior.jpg?1351539750" />        </div>
              <div class="field-item even">
                    <img  class="imagefield imagefield-field_page_header_photo" width="772" height="235" alt="" src="https://www.clyffordstillmuseum.org/sites/default/files/images-page/_MG_8581_FINAL.jpg?1351539750" />        </div>
        </div>
</div>
  </div>

  </div><!-- /.node -->
        </div>

        

      </div>
        <div id="content-bottom" class="clearfix">
                  </div>
      </div><!-- /.section, /#content -->



      <div class="region region-sidebar-first column sidebar"><div class="section">
  <div id="block-menu-primary-links" class="block block-menu first region-odd even region-count-1 count-2">
  
  <div class="content">
    <ul class="menu"><li class="expanded first"><a href="/visit-us" title="VISIT US">VISIT US</a><ul class="menu"><li class="leaf first"><a href="/visit-us/tickets-admission-hours" title="TICKETS, ADMISSION &amp; HOURS">tickets, admission &amp; hours</a></li>
<li class="leaf"><a href="/visit-us/directions" title="DIRECTIONS">directions</a></li>
<li class="leaf"><a href="/visit-us/tours-group-visits" title="MUSEUM TOURS">tours &amp; group visits</a></li>
<li class="collapsed"><a href="/visit-us/hotels" title="HOTELS">hotels</a></li>
<li class="leaf"><a href="/visit-us/free-days" title="free days">free days</a></li>
<li class="leaf last"><a href="/b-cultured" title="B-Cultured Package">special offers</a></li>
</ul></li>
<li class="expanded active-trail"><a href="/museum" title="" class="active">MUSEUM</a><ul class="menu"><li class="leaf first active-trail"><a href="/museum" title="about the museum" class="active">about the museum</a></li>
<li class="leaf"><a href="/museum/about-building" title="about the museum">about the building</a></li>
<li class="collapsed last"><a href="/collection" title="about the collection">about the collection</a></li>
</ul></li>
<li class="leaf"><a href="/drawingpaintingprocess" title="DRAWING/PAINTING/PROCESS">NOW ON VIEW</a></li>
<li class="leaf"><a href="/clyfford-still" title="CLYFFORD STILL">CLYFFORD STILL</a></li>
<li class="collapsed"><a href="/" title="">GET INVOLVED</a></li>
<li class="collapsed"><a href="/programs-and-events" title="">PROGRAMS &amp; EVENTS</a></li>
<li class="collapsed"><a href="/education" title="EDUCATION">EDUCATION</a></li>
<li class="collapsed"><a href="/press-room" title="Press Room">PRESS ROOM</a></li>
<li class="leaf"><a href="/videos" title="">VIDEOS</a></li>
<li class="leaf"><a href="/museum-rental" title="MUSEUM RENTAL">MUSEUM RENTAL</a></li>
<li class="leaf"><a href="/store" title="">MUSEUM STORE</a></li>
<li class="leaf"><a href="/blog" title="">BLOG</a></li>
<li class="leaf last"><a href="/gallery/5" title="">PHOTO GALLERY</a></li>
</ul>  </div>

  </div><!-- /.block -->
<div id="block-views-gallery-block_1" class="block block-views region-even odd region-count-2 count-3">
      <h2 class="title">Museum Photos</h2>
  
  <div class="content">
    <div class="views_view view view-gallery view-id-gallery view-display-id-block_1 view-dom-id-3">
  
  
  
  
      <div class="view-content">
          <div class="views-row first odd">
      
      <div>
  
    
      <a href="https://www.clyffordstillmuseum.org/sites/default/files/images-photo/museum_01_0.jpg" title="North Entrance - The 28,500 square foot museum is envisioned as a dense, cantilevered, two-story structure, unified through the use of a single building material - a highly textured and resurfaced concrete, designed to modify light on both the interior and exterior of the museum. The museum emerges through the leaves and branches of a grove of trees. Daylight is diffused and refracted over the textured concrete surface of the exterior." class="colorbox imagefield imagefield-imagelink imagefield-field_photo_graphic" rel="gallery-22"><img src="https://www.clyffordstillmuseum.org/sites/default/files/imagecache/thumbnail/images-photo/museum_01_0.jpg" alt="" title="North Entrance - The 28,500 square foot museum is envisioned as a dense, cantilevered, two-story structure, unified through the use of a single building material - a highly textured and resurfaced concrete, designed to modify light on both the interior and exterior of the museum. The museum emerges through the leaves and branches of a grove of trees. Daylight is diffused and refracted over the textured concrete surface of the exterior."  class="imagecache imagecache-thumbnail" width="45" height="45" /></a>
      </div>
  
    </div>
      <div class="views-row even">
      
      <div>
  
    
      <a href="https://www.clyffordstillmuseum.org/sites/default/files/images-photo/museum_02.jpg" title="Reception Area - The low-hanging cantilevered second story shades the entry into the reception area. The first floor material is a crushed and polished cement, with wood paneling and detailing throughout." class="colorbox imagefield imagefield-imagelink imagefield-field_photo_graphic" rel="gallery-23"><img src="https://www.clyffordstillmuseum.org/sites/default/files/imagecache/thumbnail/images-photo/museum_02.jpg" alt="" title="Reception Area - The low-hanging cantilevered second story shades the entry into the reception area. The first floor material is a crushed and polished cement, with wood paneling and detailing throughout."  class="imagecache imagecache-thumbnail" width="45" height="45" /></a>
      </div>
  
    </div>
      <div class="views-row odd">
      
      <div>
  
    
      <a href="https://www.clyffordstillmuseum.org/sites/default/files/images-photo/museum_03.jpg" title="Corner Gallery Level - A combination of minimally textured board-formed concrete walls (in contrast to the exterior of the building) and plaster walls will comprise the art hanging surfaces in the second floor galleries." class="colorbox imagefield imagefield-imagelink imagefield-field_photo_graphic" rel="gallery-24"><img src="https://www.clyffordstillmuseum.org/sites/default/files/imagecache/thumbnail/images-photo/museum_03.jpg" alt="" title="Corner Gallery Level - A combination of minimally textured board-formed concrete walls (in contrast to the exterior of the building) and plaster walls will comprise the art hanging surfaces in the second floor galleries."  class="imagecache imagecache-thumbnail" width="45" height="45" /></a>
      </div>
  
    </div>
      <div class="views-row even">
      
      <div>
  
    
      <a href="https://www.clyffordstillmuseum.org/sites/default/files/images-photo/museum_04.jpg" title="Center Gallery Level - A day lighting system that includes diffusing skylights and motorized shades is situated above a custom-formed, concrete tracery ceiling that almost disappears in the scattered light." class="colorbox imagefield imagefield-imagelink imagefield-field_photo_graphic" rel="gallery-25"><img src="https://www.clyffordstillmuseum.org/sites/default/files/imagecache/thumbnail/images-photo/museum_04.jpg" alt="" title="Center Gallery Level - A day lighting system that includes diffusing skylights and motorized shades is situated above a custom-formed, concrete tracery ceiling that almost disappears in the scattered light."  class="imagecache imagecache-thumbnail" width="45" height="45" /></a>
      </div>
  
    </div>
      <div class="views-row last odd">
      
      <div>
  
    
      <a href="https://www.clyffordstillmuseum.org/sites/default/files/images-photo/_MG_8631_working_flattened_FINAL-2.jpg" title="Clyfford Still Museum at dusk, August, 2011. Image by Jeremy Bittermann." class="colorbox imagefield imagefield-imagelink imagefield-field_photo_graphic" rel="gallery-202"><img src="https://www.clyffordstillmuseum.org/sites/default/files/imagecache/thumbnail/images-photo/_MG_8631_working_flattened_FINAL-2.jpg" alt="" title="Clyfford Still Museum at dusk, August, 2011. Image by Jeremy Bittermann."  class="imagecache imagecache-thumbnail" width="45" height="45" /></a>
      </div>
  
    </div>
      </div>
  
  
  
  
      <div class="view-footer">
      <p><a href="/gallery/4" class="btn1">VIEW ALL</a></p>
    </div>
  
  
</div><!-- /.view -->
  </div>

  </div><!-- /.block -->
<div id="block-menu-secondary-links" class="block block-menu region-odd even region-count-3 count-4">
  
  <div class="content">
    <ul class="menu"><li class="leaf first"><a href="/contact-us" title="CONTACT US">CONTACT US</a></li>
<li class="leaf"><a href="http://visitor.r20.constantcontact.com/d.jsp?llr=y6azmveab&amp;p=oi&amp;m=1104524641208" title="">STAY IN TOUCH</a></li>
<li class="leaf last"><a href="/employment" title="EMPLOYMENT">EMPLOYMENT</a></li>
</ul>  </div>

  </div><!-- /.block -->
<div id="block-block-2" class="block block-block last region-even odd region-count-4 count-5">
  
  <div class="content">
    <p><a href="http://www.facebook.com/pages/Denver-CO/Clyfford-Still-Museum/295120003223?ref=ts"><img alt="Clyfford Still Museum on Facebook" src="/sites/default/files/editor-images/facebook.png" style="width: 24px; height: 24px; " /></a>&nbsp;<a href="http://twitter.com/#!/Still_Museum"><img alt="Clyfford Still Museum on Twitter" src="/sites/default/files/editor-images/twitter.png" style="width: 24px; height: 24px; " /></a>&nbsp;<a href="http://www.flickr.com/people/clyffordstillmuseum/"><img alt="Clyfford Still Museum on Flickr" src="/sites/default/files/editor-images/flickr.png" style="width: 24px; height: 24px; " /></a></p>
  </div>

  </div><!-- /.block -->
</div></div><!-- /.section, /.region -->

      
    </div></div><!-- /#main, /#main-wrapper -->

          <div id="footer"><div class="section">

       
        
        <div class="region region-footer">
  <div id="block-block-1" class="block block-block first region-odd even region-count-1 count-6">
  
  <div class="content">
    <p><a href="http://www.scfd.org"><img alt="SCFD" src="/sites/default/files/editor-images/logo-sponsors.png" style="width: 54px; height: 84px; " /></a></p>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-29830735-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>  </div>

  </div><!-- /.block -->
<div id="block-block-10" class="block block-block last region-even odd region-count-2 count-7">
  
  <div class="content">
    <div><strong><span data-scayt_word="CLYFFORD" data-scaytid="7">CLYFFORD</span> STILL MUSEUM</strong>
<div>1250 <span data-scayt_word="Bannock" data-scaytid="8">Bannock</span> Street</div>
<div>Denver, CO 80204</div>
</div>
<div><span data-scayt_word="tel" data-scaytid="9">tel</span> 720-354-4880<br />
  <a href="mailto:%E2%80%A8info@clyffordstillmuseum.org">info@clyffordstillmuseum.org</a></div>
  </div>

  </div><!-- /.block -->
</div><!-- /.region -->
          <div class="copyright">&#169; Copyright 2013. Clyfford Still Museum<br />
            Denver Web Design by <a target="_blank" href="http://www.newmediadenver.com/web-design/web-design-denver-co">NewMediaDenver</a>
          </div>
      </div></div><!-- /.section, /#footer -->
    
  </div></div><!-- /#page, /#page-wrapper -->

  
  <!-- Segment Pixel - DP - Clyfford Still Museum - DO NOT MODIFY -->
<script src="https://ib.adnxs.com/seg?add=464546&t=1" type="text/javascript"></script>
<!-- End of Segment Pixel →
</body>
</html>
